*{margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
    background-image: url(../imagem/bgbodyimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 100vh; */
}
header{
    background-color: #D2CBB9;
    margin-bottom: 30px;
}
.lotr{
    height: 60px;
    height: 60px;
}
nav{
    display: flex ;
    align-items: center;
    background-color: #D2CBB9;
    padding: 0 30px;
    justify-content: space-between;  
}
ul{
    list-style: none;
    padding: 0;
}
li {
    padding: 0 30px
}
a{
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}
a:hover{
    color: #daa520;
    text-decoration: underline;
}
nav, ul{
    display:flex;
    flex-direction: row;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.texto{
    
    background-color: #CBC3AE;
    opacity: 0.8;
    color: black;
    text-align: center;
    width: 50%;
    margin: 0 1.5%;
    padding: 50px 50px;
    border: 2px solid #000000;
    border-radius: 10px;
}
h2{
    font-family: 'Tangerine', cursive;
    font-size: 40px;
}
button{
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 15px;
    background: #9c988b;
    border: 2px solid #8C5245;
}
button:hover{
    text-transform: none;
    font-size: 20px;
    border: 2px solid #8C5245;
    cursor: pointer;
}
footer{
    background-color:  #D2CBB9;
        text-align: center;
        padding: 40px 0;
    }
    @media (max-width: 700px) {

    .logo{
        display:none;
        
    }
    nav, ul{
        display:flex;
        flex-direction: column;
    }
    .texto{
    display: flex;
    flex-wrap: Wrap;
    background-color: #CBC3AE;
    opacity: 0.8;
    color: black;
    text-align: center;
    width: 100%;
    margin: 0 1.5%;
    padding: 30px;
    border: none;
    }
}