*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: #E4F2E7;
    height: 100vh;
}

header{
    text-align: center;
    background-color: #C9D8D1;
    margin-bottom: 30px;
}
.lotr{
    height: 60px;
    height: 60px;
}
nav{
    display: flex ;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
}
ul{
    list-style: none;
    padding: 0;
}
li {
    padding: 0 30px
}
a{
    text-transform: uppercase;
    color: black;
}
a:hover{
    color: #daa520;
    text-decoration: underline;
}
nav, ul{
    display:flex;
    flex-direction: row;
}
h2 { font-family: 'Tangerine', cursive;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

figure { width: 90%; min-width: 17.5em; margin:0 auto;}
.boxVideo {
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 25px;
    height: 0;
    margin:0 auto;
}
.boxVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.personagens {
    background-color: #E4F2E7;
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.personagens li {
    display: inline-block;
    text-align: center;
    width: 30%;
    height: 600px;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.image{
    height: 200px;
    width: 200px;
}
.botaoUm {
    margin-top: 182px;
}

.botaoDois{
    margin-top: 57px;
}

.botaoTres{
    margin-top: 130px;

}
button{
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 15px;
    background: #C9D8D1;
    border: none;
}
button:hover{
    text-transform: none;
    font-size: 20px;
    border: 2px solid white;
    cursor: pointer;
}
footer{
    text-align: center;
    background-color: #C9D8D1;
}
@media (max-width: 700px)
{ 
    body{
        display:flex;
        flex-direction: column;
    }
    .logo{
        display:none;
        
    }
    .video {
        width: 100%;
        height: auto;
    }
    nav, ul{
        display:flex;
        flex-direction: column;
    }
    .personagens{
        display: flex;
        flex-wrap: Wrap;
    }
    .personagens li{
        border: none;
    }
}